<!DOCTYPE html>
<html lang="en">
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>WaterBnB</title>
    <style>
      .info {
          padding: 20px;
          margin: 10px;
          background-color: #eee;
      }
      .granted {
          color: green;
      }
      .denied {
          color: red;
      }
    </style>
  </head>
  <body>
    <h1>WaterBnB : DIOP & BORREANI </h1>
    <hr>
    <div class="content">
      <div class="info">
        <p>Résultat du Client ID : {{ idu }}</p>
        <p>Sur la piscine : {{ idswp }}</p>
        <p>Accès : <span class="{{ 'granted' if granted == 'YES' else 'denied' }}">{{ granted }}</span></p>
      </div>
      <form method="post">
    </div>
  </body>
</html>
